body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f1f1;
    color: #1f1f1f;
}
  
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* La hauteur prend tout l'écran */
    background-color: #f8f9fa; /* Une couleur de fond légère (optionnel) */
  }
  
  .carousel img {
    margin: auto; /* Assure que les images sont bien centrées dans le carousel */
    display: block;
  }
  