.link-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
/*   padding: 0 20px;  */
}

.gallery-container .row .col {
  margin-bottom: 20px;
  max-height: 300px; /* Reduced height for 4-column layout */
}

.link-item {
  width: 45%; 
  padding: 10px 0;
  margin-bottom: 10px;
}

.link-item:first-child {
  border-top: none;
}

.link-content {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  width: 100%;
  cursor: pointer;
}

.link-content:hover {
  color: #868686;
}

.link-text {
  font-size: 1rem;
  text-align: left;
}

.image-container {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 10px;
}

.link-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link-item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #1f1f1f;
  padding: 10px 0;
  margin-bottom: 10px;
}

.link-item1:first-child {
  border-top: none;
}

.link1 {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

.link1:hover{
  color:#868686 ;
}

/* Responsive adjustments for mobile */
@media (max-width: 767px) {
  .gallery-container .row .col {
    max-height: 140px;
  }
}