
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center; /* Ajouter ceci pour centrer verticalement */
  padding: 20px;
    min-height: 70vh;
}

.mainContainer {
  max-width: 1100px;
  margin: 0 auto;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.responsiveImage {
width: 100%; 
max-height: 60vh; 
object-fit: cover; 
object-position: center;
}

.link-item {
width: 100%;
border-bottom: 1px solid #1f1f1f; 

}

.link-item:first-child {
border-top: none; 
}
.link-item:hover {
border-color: #868686; 
}

.link-item:hover .link {
color: #868686; 
}

.link {
text-decoration: none;
color: inherit;
}



.centered {
margin: 0 auto;
text-align: center;
}

