.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px 200px 200px;
}

.carousel img {
  margin: auto;
  display: block;
  height: auto;
  max-width: 80%;
  min-width: 500px;
  object-fit: cover;
  max-height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive pour les très petits écrans */
@media (max-width: 768px) {
  .carousel img {
    max-width: 90%;
    min-width: 250px;
    max-height: 300px;
  }

  .carousel-container {
    padding: 50px;
  }
}
