.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px 200px 200px;
}

.carousel img {
  margin: auto;
  display: block;
  height: auto;
  max-width: 80%;
  min-width: 500px;
  object-fit: cover;
  max-height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.accordion-container {
  width: 100%;
  margin: 0 auto;
}


.accordion-item {
  overflow: hidden;
}


.accordion-header {
  padding: 10px 15px 10px 15px;
  background-color: #f1f1f1;
  cursor: pointer;
  border-bottom: 1px solid;
  text-align:left;
}


.accordion-header:hover {
  color: #8f8f8f ;
}


.accordion-body {
  padding: 10px 15px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
.accordion-body .col{
  padding: 30px;
}

.accordion-header.active {
  color: #8f8f8f; 
}


.accordion-body .row {
  justify-content: center; 
  margin-bottom: 20px; 
}



@media (max-width: 768px) {
  .carousel img {
    max-width: 90%;
    min-width: 250px;
    max-height: 300px;
  }

  .carousel-container {
    padding: 50px;
  }
}
